body {
    font-family: Roboto;
    background-color: #5F9EA0;
    color: #FFFAFA;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Alkatra";
    text-align: center;

}
h1{
    font-size:40pt;
}

header {
    text-align: center;
}

#hero, footer {
    border: 2px solid; 
    background-color: #008b8b;
    text-align :center;
    padding:10px;
}

/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies */

#hobbies ul li:nth-last-child(even) {
    color:black;
    ;
}

/* Gallery */

#gallery {
    border: 2px solid #FFFAFA
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}